$white-color: #fff;
$black-color: #000;
$gray-color: #ccc;

$black-text-color: #222;

$gray-background-color: #f5f5f5;
$orange-background-color: #fd685b;

$gray-border-color: #ddd;
$black-border-color: #444;
