#intro-wrap.intro-wrap.post-intro-wrap{ style: 'background-image: url("/images/posts/' + I18n.localize(current_page.date, format: :folder) + '-' + current_page.slug + '/header.jpg")'}
  .caption
    %h1
      = current_page.title
